[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/natahin
[access "refs/for/refs/*"]
	read = group user/natahin
	push = group user/natahin
	label-Code-Review = -2..+2 group user/natahin
	label-Verified = -1..+1 group user/natahin
	rebase = group user/natahin
	removeReviewer = group user/natahin
	submit = group user/natahin
[access "refs/heads/*"]
	read = group user/natahin
	create = group user/natahin
	push = +force group user/natahin
	pushMerge = group user/natahin
[access "refs/tags/*"]
	push = group user/natahin
	push = +force group user/natahin
